/* meta bind 网格颜色 */
.theme-dark {
    --bg-color-notebook: #2a2825;
    --grid-notebook-line-color-1: #c7c7c71f;
    --grid-notebook-line-color-2: #74747440;
    --dotted-notebook-dot-color: #c7c7c71f;
  }
  .theme-light {
    --bg-color-notebook: #fef9f1;
    --grid-notebook-line-color-1: #c7c7c740;
    --grid-notebook-line-color-2: #afafaf40;
    --dotted-notebook-dot-color: #c7c7c780;
  }
/* meta bind 通用设置 */
  .editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0>{
    background-color: var(--callout-content-background);
  }
div.editor-input.card.svelte-1tfnqy0{
    background-color: var(--callout-content-background);
}
.textLayer{
    background-color: #FFFAF0;
}
.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0{
    padding-top: 0px !important;
}
.mb-suggest-input{
    line-height: 20px;
}
.theme-light .dropdown{
    line-height: 20px;
}

/* meta bind 康奈尔笔记title */
.textArea-1-title > textArea {
    width: 67%;
    height: 45px;
    background: #5f60600d;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.text-title > input[type="text" i] {
    width: 57%;
    font-size:var(--font-text-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;

}
.text-title-kapianhe > input[type="text" i] {
    width: 86%;
    font-size:var(--font-text-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    color: #6cb2e4;

}
.text-title-23 > input[type="text" i] {
    width: 23%;

}
.textArea-date-title > textArea {
    width: 29%;
    height: 45px;
    background: #5f60600d;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

  .textArea-cornell-title > textArea {
    width: 99%;
    height: 90px;
    background: #00ffff0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.textArea-summary > textArea {
    width: 99%;
    height: 100px;
    background: #9091900e;
    font-size: 18px;
    text-align: justify;
    color: rgb(215, 65, 65);
    font-family:'Times New Roman', Times, serif;
    }

/* meta bind textArea 常规 */
.textArea-45 > textArea,
.textArea-90 > textArea,
.textArea-135 > textArea,
.textArea-180 > textArea,
.textArea-225 > textArea,
.textArea-270 > textArea,
.textArea-315 > textArea,
.textArea-360 > textArea,
.textArea-405 > textArea,
.textArea-450 > textArea,
.textArea-495 > textArea,
.textArea-540 > textArea,
.textArea-585 > textArea,
.textArea-630 > textArea,
.textArea-675 > textArea {
    width: 97.5%;
    font-size: calc(var(--font-text-size) * 0.8);
    padding: 0px;
    }

.textArea-45 > textArea {
    height: 45px;
    }
.textArea-90 > textArea {
    height: 90px;
    }

.textArea-135 > textArea {
    height: 135px;
    }

.textArea-180 > textArea {
    height: 180px;
    }
.textArea-225 > textArea {
    height: 225px;
    }
.textArea-270 > textArea {
    height: 270px;
    }

.textArea-315 > textArea {
    height: 315px;
    }
.textArea-360 > textArea {
    height: 360px;
}
 .textArea-405 > textArea {
    height: 405px;
    }
.textArea-450 > textArea {
    height: 450px;
    }
.textArea-495 > textArea {
    height: 495px;
    }
.textArea-540 > textArea {
    height: 540px;
    }
.textArea-585 > textArea {
    height: 585px;
    }

.textArea-630 > textArea {
    height: 630px;
    }

.textArea-675 > textArea {
    height: 675px;
    }


/* meta bind textArea 网格 */
.textArea-45-grid > textArea,
.textArea-90-grid > textArea,
.textArea-135-grid > textArea,
.textArea-180-grid > textArea,
.textArea-225-grid > textArea,
.textArea-270-grid > textArea,
.textArea-315-grid > textArea,
.textArea-360-grid > textArea,
.textArea-405-grid > textArea,
.textArea-450-grid > textArea,
.textArea-495-grid > textArea,
.textArea-540-grid > textArea,
.textArea-585-grid > textArea,
.textArea-630-grid > textArea,
.textArea-675-grid > textArea {
    width: 97.5%;
    text-align: justify;
    font-size: calc(var(--font-text-size) * 0.8);
    line-height: 45px;
    background-image:
    linear-gradient(var(--grid-notebook-line-color-2) 1px, transparent 0);
 background-size: 45px 45px, 45px 45px, 15px 15px, 15px 15px;
    }


.textArea-45-grid > textArea {
    height: 45px;
    }
.textArea-90-grid > textArea {
    height: 90px;
    }
.textArea-135-grid > textArea {
    height: 135px;
    }
.textArea-180-grid > textArea {
    height:180px;
    }
.textArea-225-grid > textArea {
    height:225px;
    }
.textArea-270-grid > textArea {
    height:270px;
    }
.textArea-315-grid > textArea {
    height:315px;
    }
.textArea-360-grid > textArea {
    height: 360px;
    }
.textArea-405-grid > textArea {
    height:405px;
    }
.textArea-450-grid > textArea {
    height: 450px;
    }
.textArea-495-grid > textArea {
    height:495px;
    }
.textArea-540-grid > textArea {
    height:545px;
    }
.textArea-585-grid > textArea {
    height:585px;
    }
.textArea-630-grid > textArea {
    height: 630px;
    }
.textArea-675-grid > textArea {
    height: 675px;
    }


/* meta bind textArea 横线 */

.textArea-45-line > textArea,
.textArea-90-line > textArea,
.textArea-135-line > textArea,
.textArea-180-line > textArea,
.textArea-225-line > textArea,
.textArea-270-line > textArea,
.textArea-315-line > textArea,
.textArea-360-line > textArea,
.textArea-405-line > textArea,
.textArea-450-line > textArea,
.textArea-495-line > textArea,
.textArea-540-line > textArea,
.textArea-585-line > textArea,
.textArea-630-line > textArea,
.textArea-675-line > textArea {
    border: none;
    width: 97.5%;
    text-align: justify;
    font-size:  calc(var(--font-text-size) * 0.8);
    line-height: 45px;
    background-image:
    linear-gradient(var(--grid-notebook-line-color-2) 1px, transparent 0);
 background-size: 45px 45px, 45px 45px, 15px 15px, 15px 15px;
}

.textArea-45-line > textArea {
    height: 45px;
    }
.textArea-90-line > textArea {
    height: 90px;
    }
.textArea-135-line > textArea {
    height: 135px;
    }
.textArea-180-line > textArea {
    height:180px;
    }
.textArea-225-line > textArea {
    height:225px;
    }
.textArea-270-line > textArea {
    height:270px;
    }
.textArea-315-line > textArea {
    height:315px;
    }
.textArea-360-line > textArea {
    height: 360px;
    }
.textArea-405-line > textArea {
    height:405px;
    }
.textArea-450-line > textArea {
    height: 450px;
    }
.textArea-495-line > textArea {
    height:495px;
    }
.textArea-540-line > textArea {
    height:540px;
    }
.textArea-585-line > textArea {
    height:585px;
    }
.textArea-630-line > textArea {
    height: 630px;
    }
.textArea-675-line > textArea {
    height: 675px;
    }


/* meta bind editor 常规  */
.editor-45>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-45>div.editor-input.card.svelte-1tfnqy0,
.editor-90>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-90>div.editor-input.card.svelte-1tfnqy0,
.editor-135>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-135>div.editor-input.card.svelte-1tfnqy0,
.editor-180>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-180>div.editor-input.card.svelte-1tfnqy0,
.editor-225>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-225>div.editor-input.card.svelte-1tfnqy0,
.editor-270>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-270>div.editor-input.card.svelte-1tfnqy0,
.editor-315>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-315>div.editor-input.card.svelte-1tfnqy0,
.editor-360>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-360>div.editor-input.card.svelte-1tfnqy0,
.editor-405>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-405>div.editor-input.card.svelte-1tfnqy0,
.editor-450>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-450>div.editor-input.card.svelte-1tfnqy0,
.editor-495>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-495>div.editor-input.card.svelte-1tfnqy0,
.editor-540>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-540>div.editor-input.card.svelte-1tfnqy0,
.editor-585>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-585>div.editor-input.card.svelte-1tfnqy0,
.editor-630>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-630>div.editor-input.card.svelte-1tfnqy0,
.editor-675>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-675>div.editor-input.card.svelte-1tfnqy0 {
    background-color: var(--callout-content-background) ;
    text-align: justify;
}
.editor-45>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-45>div.editor-input.card.svelte-1tfnqy0{
    height: 45px;
}
.editor-90>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-90>div.editor-input.card.svelte-1tfnqy0{
    height: 90px;
}
.editor-110>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-110>div.editor-input.card.svelte-1tfnqy0{
    height: 110px;
}
.editor-135>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-135>div.editor-input.card.svelte-1tfnqy0{
    height: 135px;
}
.editor-180>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-180>div.editor-input.card.svelte-1tfnqy0{
    height: 180px;
}
.editor-225>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-225>div.editor-input.card.svelte-1tfnqy0{
    height: 225px;
}
.editor-270>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-270>div.editor-input.card.svelte-1tfnqy0{
    height: 270px;
}
.editor-315>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-315>div.editor-input.card.svelte-1tfnqy0{
    height: 315px;
}
.editor-360>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-360>div.editor-input.card.svelte-1tfnqy0{
    height: 360px;
}
.editor-405>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-405>div.editor-input.card.svelte-1tfnqy0{
    height: 405px;
}
.editor-450>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-450>div.editor-input.card.svelte-1tfnqy0{
    height: 450px;
}
.editor-495>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-495>div.editor-input.card.svelte-1tfnqy0{
    height: 495px;
}
.editor-540>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-540>div.editor-input.card.svelte-1tfnqy0{
    height: 540px;
}
.editor-585>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-585>div.editor-input.card.svelte-1tfnqy0{
    height: 585px;
}
.editor-630>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-630>div.editor-input.card.svelte-1tfnqy0{
    height: 630px;
}
.editor-675>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-675>div.editor-input.card.svelte-1tfnqy0{
    height: 675px;
}

/* meta bind editor 网格  */
.editor-45-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-45-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-90-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-90-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-135-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-135-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-180-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-180-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-225-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-225-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-270-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-270-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-315-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-315-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-360-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-360-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-405-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-405-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-450-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-450-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-495-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-495-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-540-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-540-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-585-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-585-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-630-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-630-grid>div.editor-input.card.svelte-1tfnqy0,
.editor-675-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-675-grid>div.editor-input.card.svelte-1tfnqy0 {
    background-color: var(--callout-content-background);
    text-align: justify;
    background-image:
    linear-gradient(var(--grid-notebook-line-color-2) 1px, transparent 0),
    linear-gradient(90deg, var(--grid-notebook-line-color-2) 1px,transparent 0),
    linear-gradient(var(--grid-notebook-line-color-1) 1px,
    transparent 0),
    linear-gradient(90deg,var(--grid-notebook-line-color-1) 1px,
    transparent 0);
 background-size: 22.5px 22.5px, 22.5px 22.5px;
}

.editor-45-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-45-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 45px;
}

.editor-90-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-90-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 90px;
}
.editor-135-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-135-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 135px;
}
.editor-180-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-180-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 180px;
}
.editor-225-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-225-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 225px;
}
.editor-270-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-270-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 270px;
}
.editor-315-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-315-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 315px;
}
.editor-360-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-360-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 360px;
}
.editor-405-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-405-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 405px;
}
.editor-450-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-450-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 450px;
}
.editor-495-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-495-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 495px;
}
.editor-540-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-540-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 540px;
}
.editor-585-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-585-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 585px;
}
.editor-630-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-630-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 630px;
}
.editor-675-grid>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0,
.editor-675-grid>div.editor-input.card.svelte-1tfnqy0{
    height: 675px;
}


/* button 4col */
.para-4col button {
	width: 21% !important;
	height: 30px; 
    background-color: #73a5c9;
    padding: 0px;
    color: #fef9f1;
}
.connections-4col button{
    width: 21% !important;
	height: 30px; 
    background-color: #c2935db0;
    padding: 0px;
    color: #fef9f1;
}
.qita-4col button{
    width: 21% !important;
    padding: 0px;
    background-color: #e14e75b0;
    height: 30px; 
    color: #fef9f1;
}
.cardnotes-4col button{
    width: 21% !important;
    padding: 0px;
    background-color: #216e3ecb;
    height: 30px; 
    color: #fef9f1;
}

/* meta bind button 2col */
.para-2col button {
	width: 45% !important;
	height: 30px; 
    background-color: #73a5c9;
    padding: 0px;
    color: #fef9f1;
}
.connections-2col button{
    width: 45% ;
	height: 30px; 
    background-color: #c2935db0;
    padding: 0px;
    color: #fef9f1;
}
.qita-2col button{
    width: 45% !important;
    padding: 0px;
    height: 30px; 
    background-color: #e14e75b0;
    color: #fef9f1;
}
.cardnotes-2col button{
    width: 45% !important;
    padding: 0px;
    background-color: #216e3ecb;
    height: 30px; 
    color: #fef9f1;
}

/* meta bind button 3col */
.para-3col button {
	width: 30% !important;
	height: 30px; 
    background-color: #73a5c9;
    padding: 0px;
    color: #fef9f1;
}
.connections-3col button{
    width: 30% ;
	height: 30px; 
    background-color: #c2935db0;
    padding: 0px;
    color: #fef9f1;
}
.qita-3col button{
    width: 30% !important;
    padding: 0px;
    height: 30px; 
    background-color: #e14e75b0;
    color: #fef9f1;
}

/* meta bind text 常规 */
.text-10 > input[type="text" i] ,
.text-20 > input[type="text" i] ,
.text-30 > input[type="text" i] ,
.text-40 > input[type="text" i] ,
.text-50 > input[type="text" i] ,
.text-60 > input[type="text" i] ,
.text-70 > input[type="text" i] ,
.text-80 > input[type="text" i] ,
.text-90 > input[type="text" i] ,
.text-100 > input[type="text" i] {
    font-size: var(--font-text-size);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    background-color: var(--callout-content-background);
}

.text-10 > input[type="text" i] {
    width: 10%;
}
.text-20 > input[type="text" i] {
    width: 20%;
}
.text-30 > input[type="text" i] {
    width: 30%;
}
.text-40 > input[type="text" i] {
    width: 40%;
}
.text-50 > input[type="text" i] {
    width: 50%;
}
.text-60 > input[type="text" i] {
    width: 60%;
}
.text-70 > input[type="text" i] {
    width: 70%;
}
.text-80 > input[type="text" i] {
    width: 80%;
}
.text-90 > input[type="text" i] {
    width: 90%;
}
.text-100 > input[type="text" i] {
    width: 99%;
}


/* meta bind text横线输入 */
.text-bottom-line1 > input[type="text" i],
.text-bottom-line2 > input[type="text" i],
.text-bottom-line3 > input[type="text" i],
.text-bottom-line4 > input[type="text" i],
.text-bottom-line5 > input[type="text" i],
.text-bottom-line6 > input[type="text" i],
.text-bottom-line7 > input[type="text" i],
.text-bottom-line8 > input[type="text" i],
.text-bottom-line9 > input[type="text" i],
.text-bottom-line10 > input[type="text" i],
.text-bottom-line11 > input[type="text" i],
.text-bottom-line12 > input[type="text" i],
.text-bottom-line13 > input[type="text" i],
.text-bottom-line14 > input[type="text" i],
.text-bottom-line15 > input[type="text" i]{
    width: 97.5%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    background-color: var(--callout-content-background);
    height: 45px;
    font-size: var(--font-text-size);
}

/* meta bind 卡片盒笔记 */
.editor-lit>.editor-input.svelte-1tfnqy0>div.svelte-1tfnqy0{
    background-color: var(--callout-content-background);
    height: 45px;
  }
.editor-45-lit>div.editor-input.card.svelte-1tfnqy0{
    background-color: var(--callout-content-background);
    height: 55px;
    text-align: justify;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
}
